<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applogin"
        tools:targetApi="31">

        <activity
            android:name=".nbrenter"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".loginactivity" />
        <activity android:name=".homeactivitiy" />
        <activity
            android:name=".NewB" />
        <activity android:name=".recycle" /> <!-- NAJAH -->
        <meta-data
            android:name="com.google.android.gms.drive.APP_ID"
            android:value="silicon-alpha-391713" />  <!--mna b3azta 8alibn ymkn -->
        <meta-data
            android:name="com.google.android.gms.drive.API_KEY"
            android:value="AIzaSyAvc92gtUZwUZeb3V5ubjlnGQcMKo5sTp8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

       <!-- <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />-->


    </application>

</manifest>